$back-color: #cee4ef;
$main-color: #1BB0F4;
$darkest-main-color: #1A8ED1;

@mixin box-shadow($top, $left, $blur, $color) {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
}

body{
    background: $back-color;
}