
@import "./reset.scss";
@import "./mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
$main-color: #1bb0f4;
body {
    background: $main-color;
}
#app {
    @include font();
    position: relative;
    height: 500px;
    max-width: 350px;
    padding-top: 30px;
    margin: 60px auto;
    margin-top: 60px;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: $main-color;
    border-radius: 5px;

    &:before {
        position: absolute;
        top: 0;
        z-index: 2;
        display: block;
        width: 70%;
        height: 80%;
        margin-top: 38px;
        margin-left: 15%;
        background: #fff;
        border-radius: 5px;
        content: '';
        opacity: 0.1;
    }

    &:after {
        position: absolute;
        top: 0;
        z-index: 1;
        display: block;
        width: 75%;
        height: 76%;
        margin-top: 50px;
        margin-left: 12%;
        background: #55c7f7;
        border-radius: 5px;
        content: '';
    }

}

