@import "./variables.scss";
@import "./reset.scss";
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
    background: #ec6f66; 
    background: -webkit-linear-gradient(to right, #f3a183, #ec6f66);  
    background: linear-gradient(to right, #f3a183, #ec6f66); 
}

#app {
    @include font();
    @include box-shadow(0px, 2px, 12px, #2d2d2d);
    position: relative;
    width: 350px;
    height: 500px;
    padding-top: 30px;
    margin: 60px auto;
    margin-top: 60px;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: #1bb0f4;
    border-radius: 5px;

    &:before {
        position: absolute;
        top: 0;
        z-index: 2;
        display: block;
        width: 70%;
        height: 91%;
        margin-top: 38px;
        margin-left: 15%;
        background: #fff;
        border-radius: 5px;
        content: '';
        opacity: 0.1;
    }

    &:after {
        position: absolute;
        top: 0;
        z-index: 1;
        display: block;
        width: 75%;
        height: 80%;
        margin-top: 50px;
        margin-left: 12%;
        background: #55c7f7;
        border-radius: 5px;
        content: '';
    }

}

