.Task {
    position: relative;
    z-index: 3;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    overflow: hidden;
    background: #fff;
    &__Check {
        width: 30px;
    }
    &:hover {
        .Task__RemoveIcon {
            opacity: 1;
            transition: all .2s ease;
        }
    }
    span {
        flex: 1;
        margin-top: 4px;
        text-align: left;
        &:after {
            display: block;
            width: 0;
            height: 2px;
            background: #a0a0a0;
            content: '';
            transform: translateY(-8px);
            transition: .1s all ease-in-out;
        }
    }

    &__Checkbox {
        display: none;
        opacity: 0;
        
        &:checked {
            +.Task__Label {
                svg {
                    path {
                        fill: #20c2e0;
                    }
                    polyline {
                        stroke-dashoffset: 0;
                    }
                }
            }
        }
    }
    &__Label {
        position: relative;
        margin-right: 8px;
        overflow: hidden;
        cursor: pointer;
        border-radius: 100%;
        user-select: none;

        svg {
            width: 20px;

            path {
                transition: all .6s ease;
                fill: none;
                stroke: #20c2e0;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 71px;
                stroke-dashoffset: 0;
            }

            polyline {
                transition: all .3s ease;
                fill: none;
                stroke: #fff;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 18px;
                stroke-dashoffset: 18px;
            }
        }
    }
    &--Done {
        span {
            color: #a2a2a2;
            transition: .2s all ease-in;
        }
    }
    &__RemoveIcon {
        align-self: flex-end;    
        width: 15px;
        cursor: pointer;
        opacity: 0;
        &:hover {
            opacity: 1;
            transition: .2s all ease;
            svg {
                fill: #cf474f;
            }
        }
        svg {
            fill: #cacaca;
        }
    }
    &--Removing {
        height: 0;
        padding: 0 10px;
        // opacity: 0;
        transition: .2s all ease-in-out;
    }
}
