.ToDo {
    position: relative;
    z-index: 1233;
    width: 80%;
    height: 410px;
    margin-top: 70px;
    margin-left: 10%;
    background: #fff;
    border-radius: 0 0 3px 3px;
    transition: all .1s ease-in;    

    &--Focus {
        transition: all .1s ease-in;
    }
}