.ToDo {
    position: relative;
    z-index: 1233;
    width: 80%;
    height: 410px;
    margin-top: 70px;
    margin-left: 10%;
    border-radius: 0 0 3px 3px;
    transition: all .1s ease-in;    
}

.List {

    &--Focus {
        transform: translateY(20px);
        transition: all .2s ease-in-out;
    }
    &--Adding {
        transform: translateY(40px);
    }
}